

<div id="ajaxorg" style="padding-left:10%">
    <label class="w3-label w3-text-black" style="font-weight:600"> Select Orgnization:</label>
    @Html.DropDownList("Org", null, new { @multiple = true, @name = "Org[]" })
</div>


<script type="text/javascript">
    $('#Org').multiselect({
        columns: 1,
        placeholder: 'Select Orgnization'
    });
</script>