@model ikloud_Aflatoon.Infrastructure.selectcustprocDate
@{
    ViewBag.Title = "Domain Selection";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "@Url.Content("~/xhtml1-transitional.dtd")>

<script src="~/Scripts/modernizr-2.8.3.js"></script>
@*<script src="~/Scripts/jquery-2.1.4.min.js"></script>*@
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/LoginSelect.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <input type="hidden" id="domval" name="domval" />
    <div class="w3-form" style="padding-top:40%">
        <div class="w3-modal-content w3-card-8 w3-animate-zoom w3-round-xlarge w3-padding-16 w3-light-grey" style="max-width: 600px">
            <div id="divdomain" class="w3-row w3-padding-12">
                <div class="w3-col m4">
                    <label class="w3-label w3-text-black" style="font-weight:600">Select Domain</label>
                </div>
                <div class="w3-col m8">
                    @*@Html.DropDownList("Domainselect", new SelectList(Enumerable.Domainselect(), "Id", "Name"), "ALL", new { @class = "form-control" })*@
                    <span>@Html.DropDownList("Domainselect", Model.DomainLst, "ALL", new { @class = "form-control" }) </span>

                </div>
            </div>
            <div class="w3-center w3-padding-16">
                <input class="w3-btn" type="submit" name="go" id="go" value="Select" />

            </div>
        </div>
    </div>
}
