<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="connectionStrings" type="System.Configuration.ConnectionStringsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="false"/>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <!--<add key="OWsnippath" value="http://koresklouddrapp:9443/IkloudPro-OwImages/Snip/" />
    <add key="snippath" value="https://KORESAPPSERVER:9443/ikloudProAxis/ProImageServer/iKloudIwImages/" />-->
    <add key="OWsnippath" value="http://koresklouddrapp:9443/IkloudPro-OwImages/Snip/"/>
    <add key="snippath" value="https://koresklouddrapp:9443/IkloudPro-OwImages/"/>
    <add key="SrcWebIP" value="https://KORESWEBSERVER:9443/iKloudProAxis"/>
    <add key="DestWepIP" value="http://KORESAPPSERVER:19443"/>
    <add key="SrcWebName" value="ikloudPro"/>
    <add key="DestWebName" value=""/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <caching>
     <outputCacheSettings>
        <outputCacheProfiles>
           <add name = "Cache10Min" duration = "600" varyByParam = "none"/>
        </outputCacheProfiles>
     </outputCacheSettings>
    </caching>
    <!--<httpCookies requireSSL="true"/>-->
    <httpRuntime enableVersionHeader="false"/>
    <compilation targetFramework="4.5" debug="true"/>
    <!--<sessionState cookieless="true" mode="InProc" />path="/ikloudProSMB"-->
    <authentication mode="Forms">
      <forms loginUrl="~/Login/Index"   slidingExpiration="true" timeout="600" cookieless="UseCookies"/>
    </authentication>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <customErrors mode="RemoteOnly" defaultRedirect="~/Content/Errors/CustomError.htm" redirectMode="ResponseRewrite">
      <!--<error statusCode="404" redirect="Unauthorized"  />-->
    </customErrors>
    <!--<customErrors mode="On" defaultRedirect="~/Error/Error" redirectMode="ResponseRewrite">
      <error redirect="~/Error/NotFound" statusCode="404" />
    </customErrors>-->
  </system.web>
  <system.webServer>
    <rewrite>
      <!--<outboundRules>
          <rule name="Server Version">
              <match serverVariable="RESPONSE_SERVER" pattern=".*" />
              <action type="Rewrite" />
          </rule>
      </outboundRules>-->
      <outboundRules rewriteBeforeCache="true">
        <rule name="Remove Server header">
          <match serverVariable="RESPONSE_Server" pattern=".+" />
          <action type="Rewrite" value="Kores India Ltd." />
        </rule>
      </outboundRules>
    </rewrite>
    <httpErrors errorMode="Custom">
      <error statusCode="403" subStatusCode="14" path="/ikloudProSMB/errorpg.htm" responseMode="ExecuteURL"/>
      <error statusCode="404" subStatusCode="14" path="/ikloudProSMB/errorpg.htm" responseMode="ExecuteURL"/>
    </httpErrors>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
      <!--<remove name="Session" />-->
      <!--<add name="Session" path="*." type="System.Web.SessionState.SessionStateModule"/>-->
    </handlers>
    <httpProtocol>
      <customHeaders>
        <clear/>
        <add name="X-UA-Compatible" value="IE=EmulateIE10"/>
        <remove name="X-Powered-By"/>
        <!--<add name="X-Frame-Options" value="SAMEORIGIN" />-->
        <add name="X-Frame-Options" value="DENY"/>
        <add name="X-Xss-Protection" value="1; mode=block"/>
        <add name="X-Content-Type-Options" value="nosniff"/>
        <add name="Referrer-Policy" value="no-referrer"/>
        <add name="X-Permitted-Cross-Domain-Policies" value="none"/>
        <add name="Strict-Transport-Security" value="max-age=31536000"/>
        <add name="Cache-Control" value="no-cache, no-store, must-revalidate, pre-check=0, post-check=0, max-age=0, s-maxage=0" />
        <add name="Pragma" value="no-cache" />
        <add name="Expires" value="0" />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <verbs allowUnlisted="false">
          <add verb="GET" allowed="true" />
          <add verb="POST" allowed="true" />
        </verbs>
      </requestFiltering>
    </security>
   
  </system.webServer>
  <connectionStrings>
    <clear/>
    <!--<add name="LocalSqlServer" connectionString="data source=10.168.102.11,2433;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
    <add name="AflatoonConnectionString" connectionString="Data Source=10.168.102.11,2433;Initial Catalog=ikloudProSMB;User ID=iklouduser;Password=Kores@1234$;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ikloudProConnectionString" connectionString="Data Source=10.168.102.11,2433;Initial Catalog=ikloudProSMB;User ID=iklouduser;Password=Kores@1234$" providerName="System.Data.SqlClient" />
    <add name="iKloudProConnectionString1" connectionString="Data Source=10.168.102.11,2433;Initial Catalog=ikloudProSMB;User ID=iklouduser" providerName="System.Data.SqlClient" />
    <add name="iKloudProConnectionString2" connectionString="Data Source=10.168.102.11,2433;Initial Catalog=ikloudProSMB;User ID=iklouduser;Password=Kores@1234$" providerName="System.Data.SqlClient" />
    <add name="AflatoonEntities" connectionString="metadata=res://*/Aflatoon.csdl|res://*/Aflatoon.ssdl|res://*/Aflatoon.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.168.102.11,2433;initial catalog=ikloudProSMB;user id=iklouduser;password=Kores@1234$;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IkloudPro_adcbConnectionString" connectionString="Data Source=10.168.102.11,2433;Initial Catalog=ikloudProSMB;User ID=iklouduser;Password=Kores@1234$" providerName="System.Data.SqlClient" />-->

    <!--<add name="LocalSqlServer" connectionString="data source=10.168.102.11,2433;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
    <add name="AflatoonConnectionString" connectionString="Data Source=10.168.102.11,2433;Initial Catalog=ikloudProSMB;User ID=iklouduser;Password=Kores@1234$;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ikloudProConnectionString" connectionString="Data Source=10.168.102.11,2433;Initial Catalog=ikloudProSMB;User ID=iklouduser;Password=Kores@1234$" providerName="System.Data.SqlClient" />
    <add name="iKloudProConnectionString1" connectionString="Data Source=10.168.102.11,2433;Initial Catalog=ikloudProSMB;User ID=iklouduser" providerName="System.Data.SqlClient" />
    <add name="iKloudProConnectionString2" connectionString="Data Source=10.168.102.11,2433;Initial Catalog=ikloudProSMB;User ID=iklouduser;Password=Kores@1234$" providerName="System.Data.SqlClient" />
    <add name="AflatoonEntities" connectionString="metadata=res://*/Aflatoon.csdl|res://*/Aflatoon.ssdl|res://*/Aflatoon.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.168.102.11,2433;initial catalog=ikloudProSMB;user id=iklouduser;password=Kores@1234$;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IkloudPro_adcbConnectionString" connectionString="Data Source=10.168.102.11,2433;Initial Catalog=ikloudProSMB;User ID=iklouduser;Password=Kores@1234$" providerName="System.Data.SqlClient" />-->

    <!--<add name="LocalSqlServer" connectionString="data source=10.168.102.11,2433;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
    <add name="AflatoonConnectionString" connectionString="Data Source=10.168.102.11,2433;Initial Catalog=ikloudProSIB;User ID=iklouduser;Password=Kores@1234$;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ikloudProConnectionString" connectionString="Data Source=10.168.102.11,2433;Initial Catalog=ikloudProSIB;User ID=iklouduser;Password=Kores@1234$" providerName="System.Data.SqlClient" />
    <add name="iKloudProConnectionString1" connectionString="Data Source=10.168.102.11,2433;Initial Catalog=ikloudProSIB;User ID=iklouduser" providerName="System.Data.SqlClient" />
    <add name="iKloudProConnectionString2" connectionString="Data Source=10.168.102.11,2433;Initial Catalog=ikloudProSIB;User ID=iklouduser;Password=Kores@1234$" providerName="System.Data.SqlClient" />
    <add name="AflatoonEntities" connectionString="metadata=res://*/Aflatoon.csdl|res://*/Aflatoon.ssdl|res://*/Aflatoon.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.168.102.11,2433;initial catalog=ikloudProSIB;user id=iklouduser;password=Kores@1234$;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IkloudPro_adcbConnectionString" connectionString="Data Source=10.168.102.11,2433;Initial Catalog=ikloudProSIB;User ID=iklouduser;Password=Kores@1234$" providerName="System.Data.SqlClient" />-->

    <add name="LocalSqlServer" connectionString="data source=103.231.78.237;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
    <add name="AflatoonConnectionString" connectionString="Data Source=103.231.78.237;Initial Catalog=ikloudProSIB;User ID=sa;Password=kores@1234;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ikloudProConnectionString" connectionString="Data Source=103.231.78.237;Initial Catalog=ikloudProSIB;User ID=sa;Password=kores@1234" providerName="System.Data.SqlClient" />
    <add name="iKloudProConnectionString1" connectionString="Data Source=103.231.78.237;Initial Catalog=ikloudProSIB;User ID=sa;Password=kores@1234" providerName="System.Data.SqlClient" />
    <add name="iKloudProConnectionString2" connectionString="Data Source=103.231.78.237;Initial Catalog=ikloudProSIB;User ID=sa;Password=kores@1234" providerName="System.Data.SqlClient" />
    <add name="AflatoonEntities" connectionString="metadata=res://*/Aflatoon.csdl|res://*/Aflatoon.ssdl|res://*/Aflatoon.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=103.231.78.237;initial catalog=ikloudProSIB;user id=sa;password=kores@1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IkloudPro_adcbConnectionString" connectionString="Data Source=103.231.78.237;Initial Catalog=ikloudProSIB;User ID=sa;Password=kores@1234" providerName="System.Data.SqlClient" />


  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <!--<providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>-->
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <!--<assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.3500.0" newVersion="13.0.3500.0"/>-->
        <assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.2000.0" newVersion="13.0.2000.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.Controllers" publicKeyToken="692fbea5521e1304" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.2000.0" newVersion="13.0.2000.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.DataDefModel" publicKeyToken="692fbea5521e1304" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.2000.0" newVersion="13.0.2000.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.CommonObjectModel" publicKeyToken="692fbea5521e1304" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.2000.0" newVersion="13.0.2000.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.ReportDefModel" publicKeyToken="692fbea5521e1304" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.2000.0" newVersion="13.0.2000.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.CommLayer" publicKeyToken="692fbea5521e1304" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.2000.0" newVersion="13.0.2000.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.CubeDefModel" publicKeyToken="692fbea5521e1304" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.2000.0" newVersion="13.0.2000.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.CrystalReports.Engine" publicKeyToken="692fbea5521e1304" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.2000.0" newVersion="13.0.2000.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.DataSetConversion" publicKeyToken="692fbea5521e1304" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.2000.0" newVersion="13.0.2000.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>