@model  ikloud_Aflatoon.Models.IWSummary
<div class="w3-container">
    <table class="w3-table w3-striped w3-bordered">
        <thead>
            <tr>
                <td colspan="3">
                    <h3 style="font-weight: bold;background-color:#0f7a97">
                        Inward Return Summary
                    </h3>
                </td>
            </tr>
            <tr>
                <td>
                    Process Date
                </td>
                @*<td>Settlement Date</td>*@
                <td>
                    Return Count
                </td>
                <td>
                    Return Amount
                </td>
            </tr>
        </thead>
        <tr>
            <td>
                @Html.DisplayFor(m => (m.ProcDate))
            </td>
            <td>
                @Html.DisplayFor(m => (m.ReturnCount))
            </td>
            <td>
                @Html.DisplayFor(m => (m.ReturnAmt))
            </td>
        </tr>
    </table>
</div>