@model IEnumerable<ikloud_Aflatoon.Infrastructure.GetShowCountAccept>

<div class="row" id="tableData">
    <div class="col-md-12">
        <h3>@ViewBag.Heading</h3>
        <table class="table table-responsive table-bordered table-condensed" style="cursor:pointer;overflow:auto;font-size:x-small;overflow-y: scroll;">
            <thead>
                <tr style="background-color:lightblue;">

                    <th>TotalCheques</th>

                    <th>TotalAmount</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any())
                {
                    foreach (var item in Model)
                    {
                        <tr>

                            <td>@item.TotalCheques</td>

                            <td>@item.TotalAmount</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="2" style="text-align:center; color:red;">No record found</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>