@model IEnumerable<ikloud_Aflatoon.Infrastructure.RejectReason>

<div class="w3-container">
    <table class="w3-table w3-striped w3-bordered">
        <thead class="w3-dark-grey">
            <tr><td>Reason Code</td><td>Description</td></tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr class="w3-hover-blue w3-opennav" onclick="selectedReason('@item.ReasonCodeS')">
                <td>@item.ReasonCodeS</td>
                <td>@item.Description</td>
            </tr>

        }
    </table>
</div>
