@{int i = 0;

}
<div id="tiffimg">
    <img id="Tfmyimg" class="w3-card-8 w3-image" style="cursor: zoom-in" onclick="fullImage();" src="@ViewBag.ImageData" />

    <div id="fiwimg" class="w3-modal w3-animate-zoom " onclick="this.style.display='none'">
        <img id="Tfulmyimg" class="w3-modal-content w3-card-8 w3-image" style="width: 90%; cursor: zoom-out" src="~/Icons/noimagefound.jpg" />
    </div>
</div>
