<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="connectionStrings" type="System.Configuration.ConnectionStringsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="false" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
   <add key="OWsnippath" value="http://ICLOUDUAT/iKloudProImageServer/IkloudPro-OwImages/Snip/" />
    <add key="snippath" value="http://KORESAPPSERVER/ProImageServer/iKloudIwImages/Snip/" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web> b 
        <httpRuntime targetFramework="4.5" />
      </system.Web>
      ** for secure cookies in <forms tag requireSSL="true"
      <httpCookies requireSSL="true" />
      requireSSL="true" 
  -->
  <system.web>
   <httpCookies requireSSL="true" />
    <httpRuntime enableVersionHeader="false" />
    <compilation targetFramework="4.5" />
    <authentication mode="Forms">
      <forms requireSSL="true" loginUrl="~/Login/Index" timeout="2880" cookieless="UseCookies" />
    </authentication>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <customErrors mode="RemoteOnly" defaultRedirect="~/Error/Error">
      <error redirect="~/Error/NotFound" statusCode="404" />
    </customErrors>

  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <clear />
        <remove name="X-Powered-By" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
      </customHeaders>
    </httpProtocol>

	<rewrite>
      <outboundRules rewriteBeforeCache="true">
        <rule name="Remove Server header">
          <match serverVariable="RESPONSE_Server" pattern=".+" />
          <action type="Rewrite" value="" />
        </rule>
      </outboundRules>
      <!--<rules>
        <rule name="Remove Trailing Dots after some text" stopProcessing="true">
          <match url="^(.*[^.])\.+$" />
          <action type="Rewrite" url="{R:1}" />
        </rule>
        <rule name="Remove All Dots" stopProcessing="true">
          <match url="^\.+$" />
          <action type="Rewrite" url="/" />
        </rule>
      </rules>-->

    </rewrite>
  </system.webServer>
  <connectionStrings>
    <clear />

    <!--<add name="LocalSqlServer" connectionString="data source=Abid\SQLExpress;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
    <add name="AflatoonConnectionString" connectionString="Data Source=Abid\SQLExpress;Initial Catalog=ikloudProTest;User ID=sa;Password=kores@1234;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ikloudProConnectionString" connectionString="Data Source=Abid\SQLExpress;Initial Catalog=ikloudProTest;User ID=sa;Password=kores@1234" providerName="System.Data.SqlClient" />
    <add name="iKloudProConnectionString1" connectionString="Data Source=Abid\SQLExpress;Initial Catalog=ikloudProTest;User ID=sa" providerName="System.Data.SqlClient" />
    <add name="iKloudProConnectionString2" connectionString="Data Source=Abid\SQLExpress;Initial Catalog=ikloudProTest;User ID=sa;Password=kores@1234" providerName="System.Data.SqlClient" />
    <add name="AflatoonEntities" connectionString="metadata=res://*/Aflatoon.csdl|res://*/Aflatoon.ssdl|res://*/Aflatoon.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Abid\SQLExpress;initial catalog=ikloudProTest;user id=sa;password=kores@1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->


     <add name="LocalSqlServer" connectionString="data source=103.231.78.237;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
    <add name="AflatoonConnectionString" connectionString="Data Source=103.231.78.237;Initial Catalog=ikloudProAxis;User ID=sa;Password=kores@1234;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ikloudProConnectionString" connectionString="Data Source=103.231.78.237;Initial Catalog=ikloudProAxis;User ID=sa;Password=kores@1234" providerName="System.Data.SqlClient" />
    <add name="iKloudProConnectionString1" connectionString="Data Source=103.231.78.237;Initial Catalog=ikloudProAxis;User ID=sa" providerName="System.Data.SqlClient" />
    <add name="iKloudProConnectionString2" connectionString="Data Source=103.231.78.237;Initial Catalog=ikloudProAxis;User ID=sa;Password=kores@1234" providerName="System.Data.SqlClient" />
    <add name="AflatoonEntities" connectionString="metadata=res://*/Aflatoon.csdl|res://*/Aflatoon.ssdl|res://*/Aflatoon.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=103.231.78.237;initial catalog=ikloudProAxis;user id=sa;password=kores@1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />


  <!--  <add name="LocalSqlServer" connectionString="data source=ICLOUDUAT;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
    <add name="AflatoonConnectionString" connectionString="Data Source=ICLOUDUAT;Initial Catalog=ikloudPro;User ID=ikores;Password=kotak@123;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ikloudProConnectionString" connectionString="Data Source=ICLOUDUAT;Initial Catalog=iKloudPro;User ID=ikores;Password=kotak@123" providerName="System.Data.SqlClient" />
    <add name="iKloudProConnectionString1" connectionString="Data Source=ICLOUDUAT;Initial Catalog=ikloudPro;User ID=ikores" providerName="System.Data.SqlClient" />
    <add name="iKloudProConnectionString2" connectionString="Data Source=ICLOUDUAT;Initial Catalog=ikloudPro;User ID=ikores;Password=kotak@123" providerName="System.Data.SqlClient" />
    <add name="AflatoonEntities" connectionString="metadata=res://*/Aflatoon.csdl|res://*/Aflatoon.ssdl|res://*/Aflatoon.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ICLOUDUAT;initial catalog=ikloudPro;user id=ikores;password=kotak@123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	-->



    <!--<add name="LocalSqlServer" connectionString="data source=172.17.112.250;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
    <add name="AflatoonConnectionString" connectionString="Data Source=172.17.112.250;Initial Catalog=ikloudPro;User ID=iklouduser;Password=Kores@1234$;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ikloudProConnectionString" connectionString="Data Source=172.17.112.250;Initial Catalog=ikloudPro;User ID=iklouduser;Password=Kores@1234$" providerName="System.Data.SqlClient" />
    <add name="iKloudProConnectionString1" connectionString="Data Source=172.17.112.250;Initial Catalog=iKloudPro;User ID=iklouduser" providerName="System.Data.SqlClient" />
    <add name="iKloudProConnectionString2" connectionString="Data Source=172.17.112.250;Initial Catalog=iKloudPro;User ID=iklouduser;Password=Kores@1234$" providerName="System.Data.SqlClient" />
    <add name="AflatoonEntities" connectionString="metadata=res://*/Aflatoon.csdl|res://*/Aflatoon.ssdl|res://*/Aflatoon.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.112.250;initial catalog=ikloudPro;user id=iklouduser;password=Kores@1234$;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

  </connectionStrings>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <!--<providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>-->
  </entityFramework>
</configuration>