<div id="bankname">
    @if (ViewBag.BankName != null)
    {
        <!--Bank Name: -->
        <label>
            @*@ViewBag.BankName*@
        </label>
    }
    else
    {
        <label>
            @*Bank not found*@
        </label>
    }

</div>