<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="BlockSpecificJSFiles" stopProcessing="true">
                    <!--<match url="^(owchql2\.js|OWSmbVerification\.js|aes\.js)$" ignoreCase="true" />--> 
					<!--<match url="^(owchql2\.js)$" ignoreCase="true" />-->
					<!-- <match url="^.*\.js$" ignoreCase="true" />-->
					<!--<match url=".*" ignoreCase="true" />-->
					<!-- <match url="^(OWCHQL2\.js|OWSmbVerification\.js|IWChiInterface\.js|OW_QuerySearchNew\.js|UserManagementNew\.js|OWReports\.js|
					bootstrap\-multiselect\.js|FileUpload\.js|ShowSuspenseQueueDetails\.js|jquery\-migrate\.min\.js|jquery\.validate\.unobtrusive\.js|
								jquery\.validate\.unobtrusive\.min\.js|jquery\.zoom\.js|jquery\-3\.7\.0\.js|jquery\-3\.7\.0\.min\.js|jquery\.unobtrusive\-ajax\.js|
								jquery\.unobtrusive\-ajax\.min\.js|jquery\.dataTables\.min\.js|bootstrap\.min\.js|OWCMSL2\.js|OWCMSL1\.js|
								IwSuspenseQueueSelectionForBranchCode\.js|SelectionForBranchCodeCMS\_Verification\.js|SelectionForBranchCodeCMS\.js|
								OWCDKCheckerVerification\.js|BranchDE\.js|OWSmbVerification1\.js|OWChiInterface\.js|Pass\.js|jquery\-ui\.js|jquery\-ui\.min\.js|
								jquery\-ui\-1\.13\.2\.js|jquery\.validate\.min\.js|jquery\.validate\.js|SelectionBranchDataEntry\.js|IW\_QuerySearch\_Archival\.js|

					OW\_QuerySearch\_Archival\.js|IWReportsDBS\_Archival\.js|OWReports\_Archival\.js|IWMICR\.js|OWReportsF8\.js|IWL2\.js|
								IWDataEntry\.js|IWReportsF8\.js|IW\_QuerySearch\.js|OW\_QuerySearch\.js|IWReports\.js|IwSearch\.js|SelectionForBranchCode\.js|
					SelectionForBranchCode1\.js|IWChiInterface\_F8\.js|OWChiInterface\_F8\.js|IWReportsDBS\.js|UnlockRecordsDBS\.js|
								
									UserManagementReports\.js|OWSearch\.js|UserRoleEdit\.js|UserRole\.js|UserManagement\.js|jquery\-3\.5\.1\.min\.js|jquery\-3\.5\.1\.js)$" ignoreCase="true" />
					UnlockRecords\.js|OWSmbDataEntry\.js|OWCHQL1\.js|angular\.min\.js|jquery\-2\.1\.4\.min\.js|Json2\.js|modernizr\-custom\.js|
					AbidJS\.js|jquery\.multiselect\.js|ChangePswd\.js|sha256\.js|MyJson\.js|jquery\-3\.3\.1.min\.js|OWL2\.js|
								OWL21\.js|OWL1\.js|OWAmount\.js|IWL1\.js|jquery\-ui\-1\.12\.1\.js|jquery\-ui\-1\.12\.1\.min\.js|IWL3\.js|
								PayeeName\.js|OWL3\.js|CMSEntry\.js|CMSReferral\.js|TFL2\.js|TFL1VF\.js|TFL3\.js|
								AmountJS\.js|DateQCJS\.js|DateJS\.js|DebtAc\.js|ChiRejectHandler\.js|SlipAmount\.js|OWSLPAccount\.js|
								OWDate\.js|CMSEntryGetClient\.js|FileDownload\.js|LoginJS\.js|OWMICR\.js|jQueryRotate\.js|NumberToWord\.js|
								ZoomChqImage\.js|Test\.js)$" ignoreCase="true" />
					Test\.js|aes\.js|LoginSelect\.js|
								file3\.js)$" ignoreCase="true" />-->
								
					<!--<conditions logicalGrouping="MatchAll">
                        <add input="{HTTP_REFERER}" pattern="^$" />
                    </conditions>-->
								
					<match url=".*" />
					<conditions>
						<add input="{HTTP_REFERER}" pattern="^$" />
                    </conditions>
                    
                    <action type="Redirect" url="../Error/Forbidden" appendQueryString="false" />
                </rule>
				 
            </rules>
        </rewrite>
         <httpErrors>
            <remove statusCode="403" subStatusCode="-1" />
            <error statusCode="403" path="../Error/Forbidden" responseMode="Redirect" />
        </httpErrors>
    </system.webServer>
</configuration>