@{
    ViewBag.Title = "Outward Reports";
    ViewBag.header = "Outward Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>*@
<script src="~/Scripts/modernizr-2.8.3.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<script src="~/Scripts/OWReports.js"></script>


<link href="~/Content/themes/base/jquery-uiii.css" rel="stylesheet" />
<style type="text/css">
    .ui-datepicker {
        background: #0f7a97;
        border: 1px solid #555;
        color: #EEE;
    }
</style>
<script type="text/javascript">

    var RootUrl = '@Url.Content("~/")';
</script>
<div class="w3-container w3-padding-left w3-padding-top">
    <div class="w3-row">
        <div class="w3-col w3-third w3-large w3-theme-d1">
            <div class="m4">
                <label class="w3-label w3-padding-16 w3-text-black"> Select From Date:</label>
                <input class="w3-text" type="text" readonly="readonly" id="fromdate" name="fromdate" />
            </div>
            <div class="m4 w3-white"><br /></div>
            <div class="m4">
                <label class="w3-label w3-padding-16 w3-text-black"> Select To Date:</label>&nbsp;&nbsp;&nbsp;&nbsp;
                <input class="w3-text" type="text" readonly="readonly" id="todate" name="todate" />
            </div>
        </div>

    </div>
    <div class="w3-row"><br /></div>
    <div class="w3-row">
        <div class="w3-col w3-third w3-large w3-theme-d1">

            <div class="m4">
                <div class="w3-label w3-text-black">Select Clearing Type</div>
                @*<select class="w3-select" id="clrtype">
                    <option selected="selected">Select</option>
                    <option>CTS</option>
                    <option>Non CTS</option>
                </select>*@
                @Html.DropDownList("clrtype", null, null, new { style = "width: 550px;" })
            </div>
            <div class="m4">
                <div class="w3-label w3-text-black">Select Domains</div>
                @Html.DropDownList("gridDomains", null, "ALL", new { @class = "w3-select" })
            </div>
            <div class="m4">
                <div class="w3-label w3-text-black">Select Report Type</div>
                <select class="w3-select" id="rpttype">
                    <option selected="selected">Select</option>
                    @*<option>Productivity Report</option>
                        <option>Verification Report</option>
                        <option>P2FDetails Report</option>*@
                    <option>Return PullOut Report</option>
                    <option>P2F PullOut Report</option>
                    <option>Bank wise P2F Report</option>
                    <option>Verification / CHI Reject Report</option>
                    <option>Batch Wise Summary Report</option>
                    <option>Day's Summary Report</option>
                    @*<option>MICR Repair Report</option>*@
                    @*<option>L2 Modification Report</option>*@
                    @*<option>L3 Modification Report</option>*@
                    <option>Extension Report</option>
                    <option>OW Productivity Report</option>
                    @*<option>P2F Bankwise Summary</option>*@
                    @*<option>IQA Failure Report</option>
                    <option>Unbundled Cheques Report</option>*@
                    <option>Duplicate Cheques Report</option>
                    <option>Return Memo Report</option>
                    <option>Discrepant Report</option>
					<option>Item Wise Presentation Details</option>
                    @*<option>Audit Report</option>*@
                    <option>Bundled File Summary Report</option>
                    @*<option>Return Report Unmatch Memo</option>*@
                </select>
            </div>
        </div>
    </div>
    <div class="w3-row">
        <div class="m4" id="vflevel" style="display:none">
            <div class="w3-label w3-text-black">Select Verification Level</div>
            <select class="w3-select" id="verflevel">
                <option selected="selected">Select</option>
                <option>L1 Verification</option>
                <option>L2 Verification</option>
                <option>L3 Verification</option>
            </select>
        </div>
        <div class="m4" id="scanningTypeLevel" style="display:none">
            <div class="w3-label w3-text-black">Select Scanning Type</div>
            <select class="w3-select" id="scanningTypeLevel">
                <option selected="selected">Select</option>
                <option>L1 Verification</option>
                <option>L2 Verification</option>
                <option>L3 Verification</option>
            </select>
        </div>
        <div class="w3-col m4 w3-col w3-third w3-large w3-theme-d1">
            <div class="w3-label w3-text-black">Select Download File Type</div>
            <select class="w3-select" id="filedwnldtype">
                <option selected="selected">Select</option>
                <option>EXCEL</option>
                <option>CSV</option>
                <option>PDF</option>
            </select>
        </div>
    </div>
    <div class="w3-row"><br /></div>
    <div class="w3-row">
        <div class="w3-col m4">
            <input class="w3-btn" style="float: initial" type="button" id="btnreport" name="btnreport" value="Get Report">
        </div>
    </div>
</div>
