<div id="bankname">
    @if (ViewBag.BankName != null)
    {

        <label>
            Bank Name:  @ViewBag.BankName
        </label>
    }
    else
    {
        <label>
            Bank Name: Bank not found
        </label>
    }

</div>